= render 'uw_coordinator/validations/partials/top_and_search'

= render 'uw_coordinator/validations/partials/loan_header'

= render 'uw_coordinator/validations/partials/gfe_dates'

= render 'uw_coordinator/validations/partials/validation_messages'

= render 'uw_coordinator/validations/partials/loan_info'

= render 'uw_coordinator/validations/partials/loan_amounts'

.page-break