.well
  .lead-footer{style: 'float:left;'}= "Borrower Name: #{@loan.borrower_first_name} #{@loan.borrower_last_name} / LOAN #: #{@loan.loan_num} / #{@loan.channel} / #{@loan.loan_purpose}"
  .lead-footer{style: 'float:right;'}
    Printed at 
    = l Time.now, :format => :full_american
    by
    = current_user.display_name