/ = render 'underwriter/validations/partials/top_and_search'

= render 'core/loans/partials/loan_header'

/ = render 'core/loans/partials/validation_messages'

/ = render 'core/loans/partials/eligibility_messages'

= render 'core/loans/partials/program_guidelines'

= render 'core/loans/partials/borrowers_info'

= render 'core/loans/partials/property_info'

= render 'core/loans/partials/loan_info'

= render 'core/loans/partials/asset_info'

= render 'core/loans/partials/employment_and_income_info'
.page-break
