.row
  .span12
    .lead 
      Edit Compensation Plan for Branch 
      = link_to_if can?(:read, Institution), "#{@plan.branch.branch_name} :: #{@plan.branch.institution_number}", core_institution_path(@plan.branch)

    - if can?(:manage, BranchCompensation)
      = form_for @plan, url: {controller: :branch_compensations, action: :update, id: @plan.id}, method: :put, html: { class: 'form-horizontal' } do |f|
        = render 'accounting/branch_compensations/form', f: f