= render 'underwriter/checklists/partials/loan_header'
= render 'underwriter/checklists/partials/loan_details'
= render 'underwriter/checklists/partials/property_loan_details'
= render 'underwriter/checklists/partials/borrowers_income'
= render 'underwriter/checklists/partials/borrowers_credit'
= render 'underwriter/checklists/partials/page_one_items'
= render 'underwriter/checklists/partials/comments', :locals => {:rows => 7}
.page-break