%h5 Property
.property_display
  .street= summary.address
  .city_state_zip= summary.city_state_zip
  .county= summary.county
  .type= summary.property_type
  .appraised_value= number_to_currency summary.appraised_value