- content_for(:functions) do
  .button-functions
    = render 'pre_fhlb_uldd_button'
    = render 'pre_fhlb_csv_button'
    = render 'shared/print_button'
    = render 'shared/spreadsheet_button'


= render template: 'delivery/filter_by_date'
