- if non_plan_comp
  %td
    - if non_plan_comp.effective_date > Date.today && can?(:manage, BranchEmployeeOtherCompensation)
      = link_to edit_accounting_branch_employee_other_compensation_path(non_plan_comp.id), class: 'btn btn-mini btn-warning' do
        %i.icon-pencil
        Edit

      = link_to accounting_branch_employee_other_compensation_path(non_plan_comp), method: :delete,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-mini btn-danger' do
        %i.icon-trash
        Delete

  %td= date_formatted non_plan_comp.effective_date
  %td= number_to_percentage non_plan_comp.bsm_override, precision: 3
  %td= number_to_percentage non_plan_comp.bmsf_override, precision: 3
  %td= number_to_currency non_plan_comp.per_loan_processed, precision: 0
  %td= number_to_currency non_plan_comp.per_loan_branch_processed, precision: 0
- else
  %td
    - if can?(:manage, BranchEmployeeOtherCompensation)
      = link_to new_accounting_branch_employee_other_compensation_path(uid: uid, bid: bid), class: 'btn btn-mini btn-info' do
        %i.icon-plus
        Add New Non-LO Compensation
  %td{colspan: 7} There are no non-plan compensations currently in effect.