= form_tag(fund_submit_closing_loan_modeler_pre_trids_path, {remote: true, class: 'form-horizontal fund_calc modeler_validate', id: 'funding'}) do
  .lead
    Funding Breakdown Modeler
  .errors
    %div
  .success
    %div
  .fields-invalid
  .fields-valid

  
  .pull-right
    %a.modeler_toggle_class{:style => "text-decoration:none"}
      %span.btn.btn-warning Lock
      %span.btn.btn-danger{:style => "display:none"} Unlock
    = hidden_field_tag :fund_lock, @loan.fund_lock_modeler, class: 'modeler_lock'
    = hidden_field_tag :f_toggle_lock, false, class: 'modeler_toggle_lock'
    %a.btn.btn-primary{id: 'fund_submit', class: 'modeler_frm_submit'} Save
    %a.btn.btn-success.disabled{'data-format' => "pdf", id: 'fund_pdf', class: 'modeler_pdf_submit', href: closing_loan_modeler_pre_trid_path(:format => :pdf, :btn => 'fund')} Download PDF
    .user_comment_label{:style => "padding-top:15px"}
      =label_tag :user_comments, 'Comments:'
      .user_comment_text{:style => "padding-top:5px"}
        =text_area_tag :user_comments, @loan.user_comments_funding, class: 'span3 user_comments editable', :rows => '3'
      .modeler_user
        =label_tag :modeler_user, @loan.current_modeler_user_funding
      .modeler_time_stamp
        =label_tag :modeler_time, @loan.modeler_date_time_funding

  .span8
    .row
      .span6      
        .control-group
          %h5.muted.control-label LOS Wire Amount
          .controls{:style => "padding-top:10px"}
            =text_field_tag :los_wire_formatted, nil, readonly: "readonly", class: 'los_wire_formatted text_field input-medium'
        .control-group
          %h5.muted.control-label Wire Amount
          .controls{:style => "padding-top:10px"}
            =text_field_tag :wire_amt, @loan.wire_amt_modeler, readonly: "readonly", class: 'wire_amt text_field input-medium'
        .control-group
          %h5.control-label{:style => "margin-top:-1px"} LOS Wire Amount - Wire Amount
          .controls{:style => "padding-top:10px"}
            =text_field_tag :diff, @loan.wire_diff_modeler, readonly: "readonly", class: 'diff text_field input-medium'

        = hidden_field_tag :loan_id, @loan.loan_num    
        = hidden_field_tag :loan_type, @loan.try(:account_info).try(:channel), class: 'loan_type'    
        = hidden_field_tag :los_wire, @loan.los_wire_modeler, class: 'los_wire'    
        .control-group
          =label_tag :loan_amount, 'Loan Amount', class: 'control-label'
          .controls
            =text_field_tag :loan_amount, @loan.loan_amount_modeler, readonly: "readonly", class: 'text_field fund_add input-small' 
        .control-group
          =label_tag :ny_mtg_tax, 'NY Mortgage Tax', class: 'control-label'
          .controls
            =text_field_tag :ny_mtg_tax, @loan.ny_mtg_tax_modeler, class: 'text_field fund_add input-small editable'
        .control-group
          =label_tag :broker_comp_lndr_pd, 'Broker Comp Lender Pd', class: 'control-label'
          .controls
            =text_field_tag :broker_comp_lndr_pd, @loan.broker_comp_lndr_pd_modeler, class: 'text_field fund_add input-small editable'
        .control-group
          =label_tag :mip_refund, 'MIP Refund', class: 'control-label'
          .controls
            =text_field_tag :mip_refund, @loan.mip_refund_modeler, class: 'text_field fund_add input-small editable'
        =text_field_tag :orig_message, 'orig_message', readonly: "readonly", class: 'orig_message text_field row span4'
        .control-group
          =label_tag :origination, '(Origination)', class: 'control-label'
          .controls
            -if @loan.try(:account_info).try(:channel) != 'W0-Wholesale Standard'
              =text_field_tag :origination, @loan.origination_fee_fund_modeler, class: 'text_field fund_minus input-small', disabled: true 
            -else
              =text_field_tag :origination, @loan.origination_fee_fund_modeler, class: 'text_field fund_minus input-small editable'
        .control-group
          =label_tag :disc_pts, '(Discount Fee)', class: 'control-label'
          .controls
            =text_field_tag :disc_pts, @loan.discount_fee_modeler, class: 'text_field fund_minus input-small', disabled: true  
        =text_field_tag :appr_message, 'appr_message', readonly: "readonly", class: 'appr_message text_field row span4'
        .control-group
          =label_tag :appraisal_credit, '(Appraisal Fee)', class: 'control-label'
          .controls
            -if @loan.try(:account_info).try(:channel) == 'W0-Wholesale Standard'
              =text_field_tag :appraisal_credit, @loan.appraisal_fee_fund_modeler, class: 'text_field fund_minus input-small editable'
            -else
              =text_field_tag :appraisal_credit, @loan.appraisal_fee_fund_modeler, class: 'text_field fund_minus input-small', disabled: true
        =text_field_tag :credit_message, 'credit_message', readonly: "readonly", class: 'credit_message text_field span4'
        .control-group
          =label_tag :credit_report, '(Credit Report)', class: 'control-label'
          .controls
            -if @loan.try(:account_info).try(:channel) == 'W0-Wholesale Standard'
              =text_field_tag :credit_report, @loan.credit_report_fund_modeler, class: 'text_field fund_minus input-small editable'
            -else
              =text_field_tag :credit_report, @loan.credit_report_fund_modeler, class: 'text_field fund_minus input-small small', disabled: true
        .control-group
          =label_tag :flood_cert, '(Flood Cert)', class: 'control-label'
          .controls
            =text_field_tag :flood_cert, @loan.flood_cert_modeler, class: 'text_field fund_minus input-small', disabled: true 
        .control-group
          =label_tag :interim_interest, '(Interim Interest)', class: 'control-label'
          .controls
            =text_field_tag :interim_interest, @loan.interim_interest_modeler, class: 'text_field fund_minus input-small', disabled: true  
        .control-group
          =label_tag :mortgage_ins, '(Mortgage Insurance Premium)', class: 'control-label'
          .controls
            =text_field_tag :mortgage_ins, @loan.mortgage_ins_modeler, class: 'text_field fund_minus input-small', disabled: true  
        .control-group
          =label_tag :va_fund_fee, '(VA Funding Fee)', class: 'control-label'
          .controls
            =text_field_tag :va_fund_fee, @loan.va_fund_fee_modeler, class: 'text_field fund_minus input-small editable'
        .control-group
          =label_tag :grma_fee, '(GRMA Fee)', class: 'control-label'
          .controls
            =text_field_tag :grma_fee, @loan.grma_fee_modeler, class: 'text_field fund_minus input-small editable'
        .control-group
          =label_tag :escrow_deposit, '(Escrows)', class: 'control-label'
          .controls
            =text_field_tag :escrow_deposit, @loan.escrow_modeler, class: 'text_field fund_minus input-small', disabled: true 
        .control-group
          =label_tag :escrow_holdback, '(Escrow Holdback)', class: 'control-label'
          .controls
            =text_field_tag :escrow_holdback, @loan.escrow_holdback_modeler, class: 'text_field fund_minus input-small editable'
        .control-group
          =label_tag :principal_reduction, '(Principal Reduction)', class: 'control-label'
          .controls
            =text_field_tag :principal_reduction, @loan.principal_reduction_modeler, class: 'text_field fund_minus input-small editable'
     
        .control-group
          =label_tag :premium_price, 'Premium Price', class: 'control-label'
          .controls
            =text_field_tag :premium_price, @loan.premium_price_modeler, class: 'text_field fund_add input-small editable'

        / .control-group
        /   = label_tag :fees_paid_by_lender, 'Fees Paid By Lender', class: 'control-label'
        /   .controls
        /     = text_field_tag :fees_paid_by_lender, number_with_precision(@loan.fees_paid_by_lender_modeler, precision: 2), class: 'text_field num input-small', disabled: true
        
        .control-group
          = label_tag :lender_credit, 'Lender Credit', class: 'control-label'
          .controls
            = text_field_tag :lender_credit, number_with_precision(@loan.lender_credit_modeler_df, precision: 2), class: 'text_field num input-small', disabled: true
        
        / .control-group
        /   = label_tag :cures, 'Cures', class: 'control-label'
        /   .controls
        /     = text_field_tag :cures, number_with_precision(@loan.cures_modeler, precision: 2), class: 'text_field num input-small', disabled: true
